<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
  </div>
  <div class="details">
    <h1>
      <%= @movie.title%>
    </h1>
    <h2>
      Total Gross: <%=total_gross(@movie)%>
    </h2>
    <h3>
      <%= year_of(@movie)%>
    </h3>
    <h6><%= @movie.rating  %></h6>
    <p><%=@movie.description%></p>
    <table>
      <tr>
        <th>Director:</th>
        <th><%=@movie.director%></th>
      </tr>
      <tr>
        <th>Duration:</th>
        <th><%=@movie.duration%></th>
      </tr>
      <tr>
        <th>Total Gross</th>
        <th><%=total_gross(@movie)%></th>
      </tr>
    </table>
  </div>
 
</section>

<section class="admin">
<span>
  <%= link_to "Edit", edit_movie_path(@movie), 
              class: "button"
  %>
  <%= link_to "Delete", movie_path(@movie), class: 'button', 
              method: :delete, 
              data: {confirm: "Are you sure?"} 
  %>
  <span>
</section>

