<section>
  <div class="details">
    <h1>
      <%= @movie.title%>
    </h1>
    <h2>
      Total Gross: <%=total_gross(@movie)%>
    </h2>
    <h3>
      <%= year_of(@movie)%>
    </h3>
    <h6><%= @movie.rating  %></h6>
    <p><%=@movie.description%></p>
  </div>
</section>
